body {
    background-color: yellowgreen;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 800px;
}

h1 {
    font-size: 5vh;
}

p {
    font-size: 3vh;
}

.note {
    background: tomato;
    padding: 5px;
    position: absolute;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    min-width: 200x;
    min-height: 200px;
}

.bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.bar:hover {
    cursor: move;
}

.title {
    margin-top: 10px;
    min-width: 200px;
    min-height: 20px;
}

.note_content {
    margin-top: 10px;
    min-width: 200px;
    min-height: 200px;
}

#add_note_button, #remove_all_notes_button {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    width: 200px;
    height: 50px;
    background: white;
    border: 1px solid black;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

}

#add_note_button:hover, #remove_all_notes_button:hover {
    background: whitesmoke;
    cursor: pointer;
}