body {
    background-color: yellowgreen;
}

.note {
    background: tomato;
    padding: 5px;
    position: absolute;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    min-width: 200x;
    min-height: 200px;
}

.bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.bar:hover {
    cursor: move;
}

.title {
    margin-top: 10px;
    min-width: 200px;
    min-height: 20px;
}

.note_content {
    margin-top: 10px;
    min-width: 200px;
    min-height: 200px;
}